* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fafaf9;
    background-color: #292524;
    font-family: "Sono", sans-serif;
    padding: 40px 64px;
}
/** Main layout ******************************************/
.container {
    max-width: 1500px;
    margin: 0 auto;
}
.header {
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    justify-content: space-between;
}

.fact-form {
    background-color: #44403c;
    margin-bottom: 40px;
    padding: 16px 40px;
    text-align: center;
}
.main {
    display: grid;
    grid-template-columns: 250px 1fr;
}
/** Elements ******************************************/
.logo img {
    height: 68px;
    width: 68px;
}
.logo {
    display: flex;
    align-items: center;
    gap: 16px;
}

h1 {
    font-family: 'Coiny', cursive;
    font-size: 42px;
    text-transform: uppercase;
    color: #fafaf9;
    margin-bottom: 10px;
    
}
.fact {
    font-size: 20px;
    line-height: 1.4;
    color: #fafaf9;
    background-color: #44403c;
    margin-bottom: 16px;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    gap: 24px;
    letter-spacing: -1px;
}

.tag {
   text-transform: uppercase; 
   font-size: 14px;
   font-family: 'Coiny', cursive;
   color: #fafaf9;
   padding: 4px 10px 6px 10px;
}

.vote-buttons {
    margin-left: auto;
}
ul {
    list-style: none;
}

.source:link, .source:visited{
    color: #a8a29e;
    text-decoration: none;
    margin-left: 12px;
    transition: 0.3s;
}

.source:hover, .source:active {
    color: #3b82f6;
}